div {
  background-image: url("../../../assets/images/page404.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 91vh;
  cursor: pointer;
}
